# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# dotenv
.env

# Logs
logs/
*.log
log.txt

# OS
.DS_Store
Thumbs.db

# Editor directories and files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Build
dist/
build/
coverage/

# Uploads or user content (optional if dynamic)
uploads/
public/uploads/

# TypeScript (if using it)
*.tsbuildinfo

# Misc
*.pid
